html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  /* bg color */
  background-color: #27ae60;
  font-family: "Racing Sans One";
}

h1 {
  text-align: right;
  margin: 0;
  font-size: 50px;
}

.container {
  height: 600px;
  background-color: #27ae60;
  width: 100vw;
  color: #684831;
  padding: 0 20px;
  /* color: #e26e20; */
}

.hud {
  background-color: #222222;
  border-radius: 20px;
  color: yellow;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.hud p {
  font-size: 32px;
  margin: 0;
}

#overlay {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  /* padding: 100px; */
}

#overlay h1 {
  margin-top: 50px;
  margin-right: 100px;
}

#overlay button {
  /* align-self: center; */
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}
